* {
    background: black;
    color: wheat;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div#dad {
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1.dad {
    position: relative;
    top: 30px;
}

div#son {
    position: absolute;

    border: 3px solid gold;
    border-radius: 10px;

    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    
    height: auto;
    width: 50vw;
}

h1.son {
    margin: 30px 0 50px 0;
    align-self: center;
}

input {
    align-self: center;

    border: 2px solid red;
    border-radius: 7px;

    font-weight: 900;

    outline: none;

    text-align: center;

    height: 25px;
    width: 150px;
}

p.symbol0, p.symbol1 {
    align-self: center;

    margin: 3px;
}

p#result {
    margin-top: 20px;

    font-weight: 900;

    text-align: center;
}

select {
    appearance: none;

    align-items: center;
    align-self: center;

    text-align: center;
    
    background-color: red;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-weight: 700;

    margin: 20px 0 20px 0;

    outline: none;

    height: 25px;
    width: 100px;
}

select:hover {
    opacity: 80%;
    transition: 0.3s ease;
}

button {
    align-self: center;

    background-color: red;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-weight: 700;

    margin-bottom: 30px;

    height: 25px;
    width: 100px;
}

button:hover {
    opacity: 80%;
    transition: 0.3s ease;
    /* transform: scale(1.05); */
}